version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  pull-request-branch-name:
    separator: "-"
  schedule:
    interval: daily
    time: "07:45"
  open-pull-requests-limit: 3
  allow:
      - dependency-type: "direct"
  ignore:
      - dependency-name: "react-dropzone"
        versions: ["12.x"]
      - dependency-name: "react-simplemde-editor"
        versions: ["5.x"]
      - dependency-name: "react-spring"
        versions: ["9.x"]
      - dependency-name: "lerna"
        versions: ["5.x"]
      - dependency-name: "lerna-update-wizard"
        versions: ["5.x"]
      - dependency-name: "standard-version"
  reviewers:
      - "theo-mesnil"
