@import 'tailwindcss';
@import '../../lib/src/theme/generated/theme.css';

@source '../../lib/src/**/*.{ts,tsx}';

:root {
  --docsearch-primary-color: black !important;
}

body {
  background-color: var(--color-beige-10);
}
