@import 'tailwindcss';
@import '../../lib/src/theme/theme.css';

@source '../../lib/src/**/*.{ts,tsx}';

@layer properties {
  :root {
    --docsearch-primary-color: var(--color-neutral-90);
    --docsearch-highlight-color: var(--color-neutral-60);
  }
}

@layer base {
  body {
    background-color: var(--color-beige-10);
  }
}
