{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "debug": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
