website/out
website/.next
node_modules/
.DS_Store
.size-snapshot.json
yarn-error.log

# Yarn v4
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.pnp.*

# Output of 'npm pack'
*.tgz

# Fonts
dist/

# vite
vite.config.mjs.*

# scripts
temp/

# TypeScript incremental build info
*.tsbuildinfo
/lib/tsconfig.tsbuildinfo