@font-face {
    font-family: "WttjIcons";
    src: url("https://cdn.welcometothejungle.co/common/assets/fonts/WttjIcons.eot?868d58a6a5fa238223bf275dc136c5dd?#iefix") format("embedded-opentype"),
url("https://cdn.welcometothejungle.co/common/assets/fonts/WttjIcons.woff2?868d58a6a5fa238223bf275dc136c5dd") format("woff2"),
url("https://cdn.welcometothejungle.co/common/assets/fonts/WttjIcons.woff?868d58a6a5fa238223bf275dc136c5dd") format("woff"),
url("https://cdn.welcometothejungle.co/common/assets/fonts/WttjIcons.ttf?868d58a6a5fa238223bf275dc136c5dd") format("truetype"),
url("https://cdn.welcometothejungle.co/common/assets/fonts/WttjIcons.svg?868d58a6a5fa238223bf275dc136c5dd#WttjIcons") format("svg");
}

i[class^="wttj-icon-"]:before, i[class*=" wttj-icon-"]:before {
    display: block;
    font-family: WttjIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wttj-icon-actions:before {
    content: "\f101";
}
.wttj-icon-activity:before {
    content: "\f102";
}
.wttj-icon-add:before {
    content: "\f103";
}
.wttj-icon-address:before {
    content: "\f104";
}
.wttj-icon-alert:before {
    content: "\f105";
}
.wttj-icon-anniversary:before {
    content: "\f106";
}
.wttj-icon-archive:before {
    content: "\f107";
}
.wttj-icon-ats:before {
    content: "\f108";
}
.wttj-icon-attachment:before {
    content: "\f109";
}
.wttj-icon-avatar:before {
    content: "\f10a";
}
.wttj-icon-basketball:before {
    content: "\f10b";
}
.wttj-icon-behance:before {
    content: "\f10c";
}
.wttj-icon-birthday:before {
    content: "\f10d";
}
.wttj-icon-bold:before {
    content: "\f10e";
}
.wttj-icon-book:before {
    content: "\f10f";
}
.wttj-icon-bulb:before {
    content: "\f110";
}
.wttj-icon-bulk:before {
    content: "\f111";
}
.wttj-icon-calcul:before {
    content: "\f112";
}
.wttj-icon-camera:before {
    content: "\f113";
}
.wttj-icon-candidate-status:before {
    content: "\f114";
}
.wttj-icon-celebrate:before {
    content: "\f115";
}
.wttj-icon-check:before {
    content: "\f116";
}
.wttj-icon-chevron-down:before {
    content: "\f117";
}
.wttj-icon-chevron-left:before {
    content: "\f118";
}
.wttj-icon-chevron-right:before {
    content: "\f119";
}
.wttj-icon-chevron-up:before {
    content: "\f11a";
}
.wttj-icon-chevron:before {
    content: "\f11b";
}
.wttj-icon-code:before {
    content: "\f11c";
}
.wttj-icon-coffee:before {
    content: "\f11d";
}
.wttj-icon-collapse:before {
    content: "\f11e";
}
.wttj-icon-comment-outline:before {
    content: "\f11f";
}
.wttj-icon-comment:before {
    content: "\f120";
}
.wttj-icon-compass:before {
    content: "\f121";
}
.wttj-icon-computer:before {
    content: "\f122";
}
.wttj-icon-contract:before {
    content: "\f123";
}
.wttj-icon-cover-letter:before {
    content: "\f124";
}
.wttj-icon-create:before {
    content: "\f125";
}
.wttj-icon-cross-target:before {
    content: "\f126";
}
.wttj-icon-cross:before {
    content: "\f127";
}
.wttj-icon-crown:before {
    content: "\f128";
}
.wttj-icon-csv:before {
    content: "\f129";
}
.wttj-icon-date:before {
    content: "\f12a";
}
.wttj-icon-department:before {
    content: "\f12b";
}
.wttj-icon-details:before {
    content: "\f12c";
}
.wttj-icon-dish:before {
    content: "\f12d";
}
.wttj-icon-drag-and-drop:before {
    content: "\f12e";
}
.wttj-icon-dribbble:before {
    content: "\f12f";
}
.wttj-icon-earth:before {
    content: "\f130";
}
.wttj-icon-edit:before {
    content: "\f131";
}
.wttj-icon-eduction-level:before {
    content: "\f132";
}
.wttj-icon-email-outline:before {
    content: "\f133";
}
.wttj-icon-email:before {
    content: "\f134";
}
.wttj-icon-employer-branding:before {
    content: "\f135";
}
.wttj-icon-expand:before {
    content: "\f136";
}
.wttj-icon-external-link:before {
    content: "\f137";
}
.wttj-icon-eye:before {
    content: "\f138";
}
.wttj-icon-facebook:before {
    content: "\f139";
}
.wttj-icon-female:before {
    content: "\f13a";
}
.wttj-icon-file-doc:before {
    content: "\f13b";
}
.wttj-icon-file-docx:before {
    content: "\f13c";
}
.wttj-icon-file-eot:before {
    content: "\f13d";
}
.wttj-icon-file-gif:before {
    content: "\f13e";
}
.wttj-icon-file-jpeg:before {
    content: "\f13f";
}
.wttj-icon-file-jpg:before {
    content: "\f140";
}
.wttj-icon-file-pdf:before {
    content: "\f141";
}
.wttj-icon-file-png:before {
    content: "\f142";
}
.wttj-icon-file-svg:before {
    content: "\f143";
}
.wttj-icon-file-ttf:before {
    content: "\f144";
}
.wttj-icon-file-txt:before {
    content: "\f145";
}
.wttj-icon-file-woff:before {
    content: "\f146";
}
.wttj-icon-file-woff2:before {
    content: "\f147";
}
.wttj-icon-file-xls:before {
    content: "\f148";
}
.wttj-icon-file-xlsx:before {
    content: "\f149";
}
.wttj-icon-file-zip:before {
    content: "\f14a";
}
.wttj-icon-filters:before {
    content: "\f14b";
}
.wttj-icon-flag-pointed:before {
    content: "\f14c";
}
.wttj-icon-flag:before {
    content: "\f14d";
}
.wttj-icon-gear:before {
    content: "\f14e";
}
.wttj-icon-get:before {
    content: "\f14f";
}
.wttj-icon-github:before {
    content: "\f150";
}
.wttj-icon-handshake:before {
    content: "\f151";
}
.wttj-icon-hard-hat:before {
    content: "\f152";
}
.wttj-icon-hashtag:before {
    content: "\f153";
}
.wttj-icon-heading-1:before {
    content: "\f154";
}
.wttj-icon-heading-2:before {
    content: "\f155";
}
.wttj-icon-heart-outline:before {
    content: "\f156";
}
.wttj-icon-heart-shiny:before {
    content: "\f157";
}
.wttj-icon-heart:before {
    content: "\f158";
}
.wttj-icon-info:before {
    content: "\f159";
}
.wttj-icon-information:before {
    content: "\f15a";
}
.wttj-icon-instagram:before {
    content: "\f15b";
}
.wttj-icon-italic:before {
    content: "\f15c";
}
.wttj-icon-link:before {
    content: "\f15d";
}
.wttj-icon-linkedin:before {
    content: "\f15e";
}
.wttj-icon-location:before {
    content: "\f15f";
}
.wttj-icon-lock-rounded:before {
    content: "\f160";
}
.wttj-icon-lock:before {
    content: "\f161";
}
.wttj-icon-log-out:before {
    content: "\f162";
}
.wttj-icon-male:before {
    content: "\f163";
}
.wttj-icon-map:before {
    content: "\f164";
}
.wttj-icon-marketplace:before {
    content: "\f165";
}
.wttj-icon-megaphone:before {
    content: "\f166";
}
.wttj-icon-menu:before {
    content: "\f167";
}
.wttj-icon-mic:before {
    content: "\f168";
}
.wttj-icon-microship:before {
    content: "\f169";
}
.wttj-icon-money:before {
    content: "\f16a";
}
.wttj-icon-more:before {
    content: "\f16b";
}
.wttj-icon-mountain:before {
    content: "\f16c";
}
.wttj-icon-music:before {
    content: "\f16d";
}
.wttj-icon-negative-outline:before {
    content: "\f16e";
}
.wttj-icon-negative-straight:before {
    content: "\f16f";
}
.wttj-icon-negative:before {
    content: "\f170";
}
.wttj-icon-notification:before {
    content: "\f171";
}
.wttj-icon-offer-status:before {
    content: "\f172";
}
.wttj-icon-ordered-list:before {
    content: "\f173";
}
.wttj-icon-origin:before {
    content: "\f174";
}
.wttj-icon-paperplane:before {
    content: "\f175";
}
.wttj-icon-pencil:before {
    content: "\f176";
}
.wttj-icon-phone-outline:before {
    content: "\f177";
}
.wttj-icon-phone:before {
    content: "\f178";
}
.wttj-icon-piechart:before {
    content: "\f179";
}
.wttj-icon-pin:before {
    content: "\f17a";
}
.wttj-icon-pizza:before {
    content: "\f17b";
}
.wttj-icon-play-outline:before {
    content: "\f17c";
}
.wttj-icon-play:before {
    content: "\f17d";
}
.wttj-icon-podcast:before {
    content: "\f17e";
}
.wttj-icon-positive-outline:before {
    content: "\f17f";
}
.wttj-icon-positive-straight:before {
    content: "\f180";
}
.wttj-icon-positive:before {
    content: "\f181";
}
.wttj-icon-print:before {
    content: "\f182";
}
.wttj-icon-promote:before {
    content: "\f183";
}
.wttj-icon-question:before {
    content: "\f184";
}
.wttj-icon-questions:before {
    content: "\f185";
}
.wttj-icon-quote:before {
    content: "\f186";
}
.wttj-icon-refuse-candidate:before {
    content: "\f187";
}
.wttj-icon-remote:before {
    content: "\f188";
}
.wttj-icon-reset:before {
    content: "\f189";
}
.wttj-icon-resume:before {
    content: "\f18a";
}
.wttj-icon-review-outline:before {
    content: "\f18b";
}
.wttj-icon-review:before {
    content: "\f18c";
}
.wttj-icon-search:before {
    content: "\f18d";
}
.wttj-icon-settings:before {
    content: "\f18e";
}
.wttj-icon-shield:before {
    content: "\f18f";
}
.wttj-icon-source:before {
    content: "\f190";
}
.wttj-icon-spanner:before {
    content: "\f191";
}
.wttj-icon-stackoverflow:before {
    content: "\f192";
}
.wttj-icon-stackserver:before {
    content: "\f193";
}
.wttj-icon-star:before {
    content: "\f194";
}
.wttj-icon-strilethrough:before {
    content: "\f195";
}
.wttj-icon-suitcase:before {
    content: "\f196";
}
.wttj-icon-sun:before {
    content: "\f197";
}
.wttj-icon-tag:before {
    content: "\f198";
}
.wttj-icon-target:before {
    content: "\f199";
}
.wttj-icon-thumbup:before {
    content: "\f19a";
}
.wttj-icon-trash:before {
    content: "\f19b";
}
.wttj-icon-tree:before {
    content: "\f19c";
}
.wttj-icon-twitch:before {
    content: "\f19d";
}
.wttj-icon-twitter:before {
    content: "\f19e";
}
.wttj-icon-unordered-list:before {
    content: "\f19f";
}
.wttj-icon-update:before {
    content: "\f1a0";
}
.wttj-icon-upload:before {
    content: "\f1a1";
}
.wttj-icon-welcome-home:before {
    content: "\f1a2";
}
.wttj-icon-welcome-kit:before {
    content: "\f1a3";
}
.wttj-icon-write:before {
    content: "\f1a4";
}
.wttj-icon-wttj-icons:before {
    content: "\f1a5";
}
.wttj-icon-xing:before {
    content: "\f1a6";
}
.wttj-icon-youtube:before {
    content: "\f1a7";
}
