defaults: &defaults
  working_directory: ~/welcome-ui
  docker:
    - image: circleci/node:10.22.0-browsers

version: 2.1
orbs:
  aws-s3: circleci/aws-s3@1.0.13
jobs:
  checkout:
    <<: *defaults
    steps:
      - checkout
      - save_cache:
          key: v2-welcome-ui-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/welcome-ui

  yarn_install:
    <<: *defaults
    steps:
      - restore_cache:
          key: v2-welcome-ui-{{ .Environment.CIRCLE_SHA1 }}
      - run: yarn install
      - store_artifacts:
          path: yarn.lock
      - persist_to_workspace:
          root: ~/welcome-ui
          paths:
            - node_modules

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/welcome-ui
      - restore_cache:
          key: v2-welcome-ui-{{ .Environment.CIRCLE_SHA1 }}
      - run: yarn lint

  test:
    <<: *defaults
    resource_class: large
    steps:
      - attach_workspace:
          at: ~/welcome-ui
      - restore_cache:
          key: v2-welcome-ui-{{ .Environment.CIRCLE_SHA1 }}
      - run: yarn test

  build_and_release_icon_font:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/welcome-ui
      - restore_cache:
          key: v2-welcome-ui-{{ .Environment.CIRCLE_SHA1 }}
      - run: yarn icons:collect
      - run:
          name: prepare font hash
          command: |
            echo 'export BRANCH=$CIRCLE_BRANCH' >> $BASH_ENV
            echo "export ICON_FONT_HASH=$(sha1sum packages/IconFont/fonts/welcome-icon-font.woff2 | awk '{ print $1 }')" >> $BASH_ENV
            source $BASH_ENV
            yarn build --scope @welcome-ui/core
      - aws-s3/sync:
          from: packages/IconFont/fonts
          to: s3://welcome-ui/fonts/$BRANCH/$ICON_FONT_HASH/
          arguments: |
            --metadata GitCommit=$CIRCLE_SHA1 --delete

  docs_build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/welcome-ui
      - restore_cache:
          key: v2-welcome-ui-{{ .Environment.CIRCLE_SHA1 }}
      - run: yarn docs:deploy
      - persist_to_workspace:
          root: ~/welcome-ui
          paths:
            - docs/out

  docs_deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/welcome-ui
      - restore_cache:
          key: v2-welcome-ui-{{ .Environment.CIRCLE_SHA1 }}
      - run: node_modules/.bin/netlify deploy --dir=docs/out --prod

workflows:
  version: 2
  btd:
    jobs:
      - checkout:
          filters:
            tags:
              only: /.*/
      - yarn_install:
          filters:
            tags:
              only: /.*/
          requires:
            - checkout
      - lint:
          filters:
            tags:
              only: /.*/
          requires:
            - yarn_install
      - test:
          filters:
            tags:
              only: /.*/
          requires:
            - yarn_install
      - build_and_release_icon_font:
          requires:
            - lint
            - test
      - docs_build:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
          requires:
            - yarn_install
      - docs_deploy:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
          requires:
            - docs_build
            - test
            - lint
