.link {
  color: var(--color-neutral-70);
  position: relative;
  transition:
    color var(--duration-medium) ease-in-out,
    padding-left var(--duration-medium) ease-in-out;

  &:hover,
  &:focus {
    color: var(--color-neutral-90);
  }

  &::before {
    content: ' ';
    width: 2px;
    height: calc(100% - 1px);
    position: absolute;
    left: 0;
    top: 1px;
    background-color: transparent;
    transition: background-color var(--duration-medium) ease-in-out;
  }

  &[aria-current='page'] {
    padding-left: var(--spacing-sm);
    color: var(--color-neutral-90);
    font-weight: var(--font-weight-medium);

    &::before {
      background-color: var(--color-background-brand-primary);
    }
  }
}
