.link {
  color: var(--nine-color-neutral-70);
  position: relative;
  transition:
    color var(--nine-duration-medium),
    padding-left var(--nine-duration-medium);

  &:hover,
  &:focus {
    color: var(--nine-color-neutral-90);
  }

  &::before {
    content: ' ';
    width: 2px;
    height: calc(100% - 1px);
    position: absolute;
    left: 0;
    top: 1px;
    background-color: transparent;
    transition: background-color var(--nine-duration-medium);
  }

  &[aria-current='page'] {
    padding-left: var(--nine-spacing-sm);
    color: var(--nine-color-neutral-90);
    font-weight: var(--nine-font-weight-bold);

    &::before {
      background-color: var(--nine-color-brand-40);
    }
  }
}
