.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--nine-spacing-xl);
  color: var(--nine-color-neutral-90);
  border-radius: var(--nine-radius-xl);
  cursor: pointer;

  &,
  & span {
    transition: color var(--nine-duration-medium);
  }

  &:hover {
    border-color: var(--nine-color-neutral-50);

    span {
      color: var(--nine-color-neutral-90);
    }
  }
}
