@font-face {
	font-family: "welcome-icon-font";
	src: url("welcome-icon-font.woff2?1a37568b5879c0c11d2c33fa63d77be8") format("woff2"),
url("welcome-icon-font.woff?1a37568b5879c0c11d2c33fa63d77be8") format("woff"),
url("welcome-icon-font.ttf?1a37568b5879c0c11d2c33fa63d77be8") format("truetype");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: welcome-icon-font !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-actions:before {
	content: "\f101";
}
.icon-activity:before {
	content: "\f102";
}
.icon-add:before {
	content: "\f103";
}
.icon-address:before {
	content: "\f104";
}
.icon-alert:before {
	content: "\f105";
}
.icon-anniversary:before {
	content: "\f106";
}
.icon-archive:before {
	content: "\f107";
}
.icon-aspect_ratio_fill:before {
	content: "\f108";
}
.icon-aspect_ratio_fit:before {
	content: "\f109";
}
.icon-attachment:before {
	content: "\f10a";
}
.icon-avatar:before {
	content: "\f10b";
}
.icon-basketball:before {
	content: "\f10c";
}
.icon-behance:before {
	content: "\f10d";
}
.icon-birthday:before {
	content: "\f10e";
}
.icon-bold:before {
	content: "\f10f";
}
.icon-book:before {
	content: "\f110";
}
.icon-bulb:before {
	content: "\f111";
}
.icon-bulk:before {
	content: "\f112";
}
.icon-caddy:before {
	content: "\f113";
}
.icon-calcul:before {
	content: "\f114";
}
.icon-camera:before {
	content: "\f115";
}
.icon-candidate_status:before {
	content: "\f116";
}
.icon-card_view:before {
	content: "\f117";
}
.icon-celebrate:before {
	content: "\f118";
}
.icon-check:before {
	content: "\f119";
}
.icon-chevron:before {
	content: "\f11a";
}
.icon-clock:before {
	content: "\f11b";
}
.icon-code:before {
	content: "\f11c";
}
.icon-coffee:before {
	content: "\f11d";
}
.icon-collapse:before {
	content: "\f11e";
}
.icon-comment:before {
	content: "\f11f";
}
.icon-comment_outline:before {
	content: "\f120";
}
.icon-compass:before {
	content: "\f121";
}
.icon-computer:before {
	content: "\f122";
}
.icon-contract:before {
	content: "\f123";
}
.icon-copy:before {
	content: "\f124";
}
.icon-cover_letter:before {
	content: "\f125";
}
.icon-create:before {
	content: "\f126";
}
.icon-cross:before {
	content: "\f127";
}
.icon-cross_target:before {
	content: "\f128";
}
.icon-crown:before {
	content: "\f129";
}
.icon-csv:before {
	content: "\f12a";
}
.icon-date:before {
	content: "\f12b";
}
.icon-department:before {
	content: "\f12c";
}
.icon-details:before {
	content: "\f12d";
}
.icon-diamond:before {
	content: "\f12e";
}
.icon-dish:before {
	content: "\f12f";
}
.icon-doc:before {
	content: "\f130";
}
.icon-docx:before {
	content: "\f131";
}
.icon-down:before {
	content: "\f132";
}
.icon-drag_and_drop:before {
	content: "\f133";
}
.icon-dribbble:before {
	content: "\f134";
}
.icon-earth:before {
	content: "\f135";
}
.icon-edit:before {
	content: "\f136";
}
.icon-education_level:before {
	content: "\f137";
}
.icon-email:before {
	content: "\f138";
}
.icon-email_outline:before {
	content: "\f139";
}
.icon-eot:before {
	content: "\f13a";
}
.icon-expand:before {
	content: "\f13b";
}
.icon-expand_text:before {
	content: "\f13c";
}
.icon-external_link:before {
	content: "\f13d";
}
.icon-eye:before {
	content: "\f13e";
}
.icon-facebook:before {
	content: "\f13f";
}
.icon-factory:before {
	content: "\f140";
}
.icon-female:before {
	content: "\f141";
}
.icon-filters:before {
	content: "\f142";
}
.icon-fingerprint:before {
	content: "\f143";
}
.icon-flag:before {
	content: "\f144";
}
.icon-flag_pointed:before {
	content: "\f145";
}
.icon-folder:before {
	content: "\f146";
}
.icon-gear:before {
	content: "\f147";
}
.icon-get:before {
	content: "\f148";
}
.icon-gif:before {
	content: "\f149";
}
.icon-github:before {
	content: "\f14a";
}
.icon-handshake:before {
	content: "\f14b";
}
.icon-hard_hat:before {
	content: "\f14c";
}
.icon-hashtag:before {
	content: "\f14d";
}
.icon-heading_1:before {
	content: "\f14e";
}
.icon-heading_2:before {
	content: "\f14f";
}
.icon-heart:before {
	content: "\f150";
}
.icon-heart_outline:before {
	content: "\f151";
}
.icon-heart_shiny:before {
	content: "\f152";
}
.icon-house:before {
	content: "\f153";
}
.icon-information:before {
	content: "\f154";
}
.icon-instagram:before {
	content: "\f155";
}
.icon-italic:before {
	content: "\f156";
}
.icon-jpeg:before {
	content: "\f157";
}
.icon-jpg:before {
	content: "\f158";
}
.icon-justice_hammer:before {
	content: "\f159";
}
.icon-left:before {
	content: "\f15a";
}
.icon-link:before {
	content: "\f15b";
}
.icon-linkedin:before {
	content: "\f15c";
}
.icon-location:before {
	content: "\f15d";
}
.icon-lock:before {
	content: "\f15e";
}
.icon-lock_rounded:before {
	content: "\f15f";
}
.icon-log_out:before {
	content: "\f160";
}
.icon-male:before {
	content: "\f161";
}
.icon-mansanory:before {
	content: "\f162";
}
.icon-map:before {
	content: "\f163";
}
.icon-megaphone:before {
	content: "\f164";
}
.icon-mention:before {
	content: "\f165";
}
.icon-menu:before {
	content: "\f166";
}
.icon-mic:before {
	content: "\f167";
}
.icon-microship:before {
	content: "\f168";
}
.icon-money:before {
	content: "\f169";
}
.icon-more:before {
	content: "\f16a";
}
.icon-mountain:before {
	content: "\f16b";
}
.icon-music:before {
	content: "\f16c";
}
.icon-negative:before {
	content: "\f16d";
}
.icon-negative_outline:before {
	content: "\f16e";
}
.icon-negative_straight:before {
	content: "\f16f";
}
.icon-notification:before {
	content: "\f170";
}
.icon-offer_status:before {
	content: "\f171";
}
.icon-ordered_list:before {
	content: "\f172";
}
.icon-origine:before {
	content: "\f173";
}
.icon-paperplane:before {
	content: "\f174";
}
.icon-pdf:before {
	content: "\f175";
}
.icon-pencil:before {
	content: "\f176";
}
.icon-phone:before {
	content: "\f177";
}
.icon-phone_outline:before {
	content: "\f178";
}
.icon-pictures:before {
	content: "\f179";
}
.icon-piechart:before {
	content: "\f17a";
}
.icon-pin:before {
	content: "\f17b";
}
.icon-pinterest:before {
	content: "\f17c";
}
.icon-pizza:before {
	content: "\f17d";
}
.icon-play:before {
	content: "\f17e";
}
.icon-play_outline:before {
	content: "\f17f";
}
.icon-png:before {
	content: "\f180";
}
.icon-podcast:before {
	content: "\f181";
}
.icon-positive:before {
	content: "\f182";
}
.icon-positive_outline:before {
	content: "\f183";
}
.icon-positive_straight:before {
	content: "\f184";
}
.icon-print:before {
	content: "\f185";
}
.icon-promote:before {
	content: "\f186";
}
.icon-question:before {
	content: "\f187";
}
.icon-questions:before {
	content: "\f188";
}
.icon-quote:before {
	content: "\f189";
}
.icon-refresh:before {
	content: "\f18a";
}
.icon-refuse_candidate:before {
	content: "\f18b";
}
.icon-remote:before {
	content: "\f18c";
}
.icon-remove:before {
	content: "\f18d";
}
.icon-reset:before {
	content: "\f18e";
}
.icon-resume:before {
	content: "\f18f";
}
.icon-review:before {
	content: "\f190";
}
.icon-review_outline:before {
	content: "\f191";
}
.icon-right:before {
	content: "\f192";
}
.icon-salary:before {
	content: "\f193";
}
.icon-search:before {
	content: "\f194";
}
.icon-settings:before {
	content: "\f195";
}
.icon-share1:before {
	content: "\f196";
}
.icon-share2:before {
	content: "\f197";
}
.icon-shield:before {
	content: "\f198";
}
.icon-show:before {
	content: "\f199";
}
.icon-source:before {
	content: "\f19a";
}
.icon-spanner:before {
	content: "\f19b";
}
.icon-stackoverflow:before {
	content: "\f19c";
}
.icon-stackserver:before {
	content: "\f19d";
}
.icon-star:before {
	content: "\f19e";
}
.icon-strikethrough:before {
	content: "\f19f";
}
.icon-subtitle:before {
	content: "\f1a0";
}
.icon-suitcase:before {
	content: "\f1a1";
}
.icon-sun:before {
	content: "\f1a2";
}
.icon-svg:before {
	content: "\f1a3";
}
.icon-tag:before {
	content: "\f1a4";
}
.icon-tags:before {
	content: "\f1a5";
}
.icon-target:before {
	content: "\f1a6";
}
.icon-teepee:before {
	content: "\f1a7";
}
.icon-thumbup:before {
	content: "\f1a8";
}
.icon-trash:before {
	content: "\f1a9";
}
.icon-tree:before {
	content: "\f1aa";
}
.icon-trophy:before {
	content: "\f1ab";
}
.icon-ttf:before {
	content: "\f1ac";
}
.icon-twitch:before {
	content: "\f1ad";
}
.icon-twitter:before {
	content: "\f1ae";
}
.icon-txt:before {
	content: "\f1af";
}
.icon-unordered_list:before {
	content: "\f1b0";
}
.icon-up:before {
	content: "\f1b1";
}
.icon-update:before {
	content: "\f1b2";
}
.icon-upload:before {
	content: "\f1b3";
}
.icon-video:before {
	content: "\f1b4";
}
.icon-woff:before {
	content: "\f1b5";
}
.icon-woff2:before {
	content: "\f1b6";
}
.icon-write:before {
	content: "\f1b7";
}
.icon-xing:before {
	content: "\f1b8";
}
.icon-xls:before {
	content: "\f1b9";
}
.icon-xlsx:before {
	content: "\f1ba";
}
.icon-youtube:before {
	content: "\f1bb";
}
.icon-zip:before {
	content: "\f1bc";
}
