@font-face {
	font-family: "welcome-icon-font";
	src: url("welcome-icon-font.woff2?776889edde1619b5a1698a77c0618d94") format("woff2"),
url("welcome-icon-font.woff?776889edde1619b5a1698a77c0618d94") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: welcome-icon-font !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-actions:before {
	content: "\0x101";
}
.icon-activity:before {
	content: "\0x102";
}
.icon-add:before {
	content: "\0x103";
}
.icon-address:before {
	content: "\0x104";
}
.icon-alert:before {
	content: "\0x105";
}
.icon-anniversary:before {
	content: "\0x106";
}
.icon-archive:before {
	content: "\0x107";
}
.icon-aspect_ratio_fill:before {
	content: "\0x108";
}
.icon-aspect_ratio_fit:before {
	content: "\0x109";
}
.icon-attachment:before {
	content: "\0x10a";
}
.icon-avatar:before {
	content: "\0x10b";
}
.icon-basketball:before {
	content: "\0x10c";
}
.icon-behance:before {
	content: "\0x10d";
}
.icon-birthday:before {
	content: "\0x10e";
}
.icon-bold:before {
	content: "\0x10f";
}
.icon-book:before {
	content: "\0x110";
}
.icon-bulb:before {
	content: "\0x111";
}
.icon-bulk:before {
	content: "\0x112";
}
.icon-caddy:before {
	content: "\0x113";
}
.icon-calcul:before {
	content: "\0x114";
}
.icon-camera:before {
	content: "\0x115";
}
.icon-candidate_status:before {
	content: "\0x116";
}
.icon-card_view:before {
	content: "\0x117";
}
.icon-celebrate:before {
	content: "\0x118";
}
.icon-check:before {
	content: "\0x119";
}
.icon-chevron:before {
	content: "\0x11a";
}
.icon-clock:before {
	content: "\0x11b";
}
.icon-code:before {
	content: "\0x11c";
}
.icon-coffee:before {
	content: "\0x11d";
}
.icon-collapse:before {
	content: "\0x11e";
}
.icon-comment:before {
	content: "\0x11f";
}
.icon-comment_outline:before {
	content: "\0x120";
}
.icon-compass:before {
	content: "\0x121";
}
.icon-computer:before {
	content: "\0x122";
}
.icon-contract:before {
	content: "\0x123";
}
.icon-copy:before {
	content: "\0x124";
}
.icon-cover_letter:before {
	content: "\0x125";
}
.icon-create:before {
	content: "\0x126";
}
.icon-cross:before {
	content: "\0x127";
}
.icon-cross_target:before {
	content: "\0x128";
}
.icon-crown:before {
	content: "\0x129";
}
.icon-csv:before {
	content: "\0x12a";
}
.icon-date:before {
	content: "\0x12b";
}
.icon-department:before {
	content: "\0x12c";
}
.icon-details:before {
	content: "\0x12d";
}
.icon-diamond:before {
	content: "\0x12e";
}
.icon-dish:before {
	content: "\0x12f";
}
.icon-doc:before {
	content: "\0x130";
}
.icon-docx:before {
	content: "\0x131";
}
.icon-down:before {
	content: "\0x132";
}
.icon-drag_and_drop:before {
	content: "\0x133";
}
.icon-dribbble:before {
	content: "\0x134";
}
.icon-earth:before {
	content: "\0x135";
}
.icon-edit:before {
	content: "\0x136";
}
.icon-education_level:before {
	content: "\0x137";
}
.icon-email:before {
	content: "\0x138";
}
.icon-email_outline:before {
	content: "\0x139";
}
.icon-eot:before {
	content: "\0x13a";
}
.icon-expand:before {
	content: "\0x13b";
}
.icon-expand_text:before {
	content: "\0x13c";
}
.icon-external_link:before {
	content: "\0x13d";
}
.icon-eye:before {
	content: "\0x13e";
}
.icon-facebook:before {
	content: "\0x13f";
}
.icon-factory:before {
	content: "\0x140";
}
.icon-female:before {
	content: "\0x141";
}
.icon-filters:before {
	content: "\0x142";
}
.icon-fingerprint:before {
	content: "\0x143";
}
.icon-flag:before {
	content: "\0x144";
}
.icon-flag_pointed:before {
	content: "\0x145";
}
.icon-folder:before {
	content: "\0x146";
}
.icon-gear:before {
	content: "\0x147";
}
.icon-get:before {
	content: "\0x148";
}
.icon-gif:before {
	content: "\0x149";
}
.icon-github:before {
	content: "\0x14a";
}
.icon-handshake:before {
	content: "\0x14b";
}
.icon-hard_hat:before {
	content: "\0x14c";
}
.icon-hashtag:before {
	content: "\0x14d";
}
.icon-heading_1:before {
	content: "\0x14e";
}
.icon-heading_2:before {
	content: "\0x14f";
}
.icon-heart:before {
	content: "\0x150";
}
.icon-heart_outline:before {
	content: "\0x151";
}
.icon-heart_shiny:before {
	content: "\0x152";
}
.icon-house:before {
	content: "\0x153";
}
.icon-information:before {
	content: "\0x154";
}
.icon-instagram:before {
	content: "\0x155";
}
.icon-italic:before {
	content: "\0x156";
}
.icon-jpeg:before {
	content: "\0x157";
}
.icon-jpg:before {
	content: "\0x158";
}
.icon-justice_hammer:before {
	content: "\0x159";
}
.icon-left:before {
	content: "\0x15a";
}
.icon-link:before {
	content: "\0x15b";
}
.icon-linkedin:before {
	content: "\0x15c";
}
.icon-location:before {
	content: "\0x15d";
}
.icon-lock:before {
	content: "\0x15e";
}
.icon-lock_rounded:before {
	content: "\0x15f";
}
.icon-log_out:before {
	content: "\0x160";
}
.icon-male:before {
	content: "\0x161";
}
.icon-mansanory:before {
	content: "\0x162";
}
.icon-map:before {
	content: "\0x163";
}
.icon-megaphone:before {
	content: "\0x164";
}
.icon-mention:before {
	content: "\0x165";
}
.icon-menu:before {
	content: "\0x166";
}
.icon-mic:before {
	content: "\0x167";
}
.icon-microship:before {
	content: "\0x168";
}
.icon-money:before {
	content: "\0x169";
}
.icon-more:before {
	content: "\0x16a";
}
.icon-mountain:before {
	content: "\0x16b";
}
.icon-music:before {
	content: "\0x16c";
}
.icon-negative:before {
	content: "\0x16d";
}
.icon-negative_outline:before {
	content: "\0x16e";
}
.icon-negative_straight:before {
	content: "\0x16f";
}
.icon-notification:before {
	content: "\0x170";
}
.icon-offer_status:before {
	content: "\0x171";
}
.icon-ordered_list:before {
	content: "\0x172";
}
.icon-origine:before {
	content: "\0x173";
}
.icon-paperplane:before {
	content: "\0x174";
}
.icon-pdf:before {
	content: "\0x175";
}
.icon-pencil:before {
	content: "\0x176";
}
.icon-phone:before {
	content: "\0x177";
}
.icon-phone_outline:before {
	content: "\0x178";
}
.icon-pictures:before {
	content: "\0x179";
}
.icon-piechart:before {
	content: "\0x17a";
}
.icon-pin:before {
	content: "\0x17b";
}
.icon-pinterest:before {
	content: "\0x17c";
}
.icon-pizza:before {
	content: "\0x17d";
}
.icon-play:before {
	content: "\0x17e";
}
.icon-play_outline:before {
	content: "\0x17f";
}
.icon-png:before {
	content: "\0x180";
}
.icon-podcast:before {
	content: "\0x181";
}
.icon-positive:before {
	content: "\0x182";
}
.icon-positive_outline:before {
	content: "\0x183";
}
.icon-positive_straight:before {
	content: "\0x184";
}
.icon-print:before {
	content: "\0x185";
}
.icon-promote:before {
	content: "\0x186";
}
.icon-question:before {
	content: "\0x187";
}
.icon-questions:before {
	content: "\0x188";
}
.icon-quote:before {
	content: "\0x189";
}
.icon-refresh:before {
	content: "\0x18a";
}
.icon-refuse_candidate:before {
	content: "\0x18b";
}
.icon-remote:before {
	content: "\0x18c";
}
.icon-remove:before {
	content: "\0x18d";
}
.icon-reset:before {
	content: "\0x18e";
}
.icon-resume:before {
	content: "\0x18f";
}
.icon-review:before {
	content: "\0x190";
}
.icon-review_outline:before {
	content: "\0x191";
}
.icon-right:before {
	content: "\0x192";
}
.icon-salary:before {
	content: "\0x193";
}
.icon-search:before {
	content: "\0x194";
}
.icon-settings:before {
	content: "\0x195";
}
.icon-share1:before {
	content: "\0x196";
}
.icon-share2:before {
	content: "\0x197";
}
.icon-shield:before {
	content: "\0x198";
}
.icon-show:before {
	content: "\0x199";
}
.icon-source:before {
	content: "\0x19a";
}
.icon-spanner:before {
	content: "\0x19b";
}
.icon-stackoverflow:before {
	content: "\0x19c";
}
.icon-stackserver:before {
	content: "\0x19d";
}
.icon-star:before {
	content: "\0x19e";
}
.icon-strikethrough:before {
	content: "\0x19f";
}
.icon-subtitle:before {
	content: "\0x1a0";
}
.icon-suitcase:before {
	content: "\0x1a1";
}
.icon-sun:before {
	content: "\0x1a2";
}
.icon-svg:before {
	content: "\0x1a3";
}
.icon-tag:before {
	content: "\0x1a4";
}
.icon-tags:before {
	content: "\0x1a5";
}
.icon-target:before {
	content: "\0x1a6";
}
.icon-teepee:before {
	content: "\0x1a7";
}
.icon-thumbup:before {
	content: "\0x1a8";
}
.icon-trash:before {
	content: "\0x1a9";
}
.icon-tree:before {
	content: "\0x1aa";
}
.icon-trophy:before {
	content: "\0x1ab";
}
.icon-ttf:before {
	content: "\0x1ac";
}
.icon-twitch:before {
	content: "\0x1ad";
}
.icon-twitter:before {
	content: "\0x1ae";
}
.icon-txt:before {
	content: "\0x1af";
}
.icon-unordered_list:before {
	content: "\0x1b0";
}
.icon-up:before {
	content: "\0x1b1";
}
.icon-update:before {
	content: "\0x1b2";
}
.icon-upload:before {
	content: "\0x1b3";
}
.icon-video:before {
	content: "\0x1b4";
}
.icon-woff:before {
	content: "\0x1b5";
}
.icon-woff2:before {
	content: "\0x1b6";
}
.icon-write:before {
	content: "\0x1b7";
}
.icon-xing:before {
	content: "\0x1b8";
}
.icon-xls:before {
	content: "\0x1b9";
}
.icon-xlsx:before {
	content: "\0x1ba";
}
.icon-youtube:before {
	content: "\0x1bb";
}
.icon-zip:before {
	content: "\0x1bc";
}
.icon-burn:before {
	content: "\0x1bd";
}
.icon-in_progress_candidate:before {
	content: "\0x1be";
}
.icon-new_candidate:before {
	content: "\0x1bf";
}
.icon-ppt:before {
	content: "\0x1c0";
}
.icon-analytics:before {
	content: "\0x1c1";
}
.icon-bar_chart:before {
	content: "\0x1c2";
}
.icon-book_2:before {
	content: "\0x1c3";
}
.icon-buoy:before {
	content: "\0x1c4";
}
.icon-clipboard:before {
	content: "\0x1c5";
}
.icon-credit_card:before {
	content: "\0x1c6";
}
.icon-crescent_moon:before {
	content: "\0x1c7";
}
.icon-crescent_moon_outline:before {
	content: "\0x1c8";
}
.icon-headset:before {
	content: "\0x1c9";
}
.icon-kanban:before {
	content: "\0x1ca";
}
.icon-key:before {
	content: "\0x1cb";
}
.icon-language:before {
	content: "\0x1cc";
}
.icon-leaf:before {
	content: "\0x1cd";
}
.icon-line_chart:before {
	content: "\0x1ce";
}
.icon-office:before {
	content: "\0x1cf";
}
.icon-puzzle:before {
	content: "\0x1d0";
}
.icon-puzzle_outline:before {
	content: "\0x1d1";
}
.icon-save:before {
	content: "\0x1d2";
}
.icon-search_people:before {
	content: "\0x1d3";
}
.icon-star_outline:before {
	content: "\0x1d4";
}
.icon-type:before {
	content: "\0x1d5";
}
.icon-video_camera:before {
	content: "\0x1d6";
}
.icon-video_camera_2:before {
	content: "\0x1d7";
}
.icon-heading:before {
	content: "\0x1d8";
}
.icon-heading_3:before {
	content: "\0x1d9";
}
.icon-heading_4:before {
	content: "\0x1da";
}
.icon-heading_5:before {
	content: "\0x1db";
}
.icon-heading_6:before {
	content: "\0x1dc";
}
.icon-underline:before {
	content: "\0x1dd";
}
.icon-code_block:before {
	content: "\0x1de";
}
.icon-table:before {
	content: "\0x1df";
}
.icon-table_column_add_after:before {
	content: "\0x1e0";
}
.icon-table_column_add_before:before {
	content: "\0x1e1";
}
.icon-table_column_remove:before {
	content: "\0x1e2";
}
.icon-table_delete:before {
	content: "\0x1e3";
}
.icon-table_divide:before {
	content: "\0x1e4";
}
.icon-table_row_add_above:before {
	content: "\0x1e5";
}
.icon-table_row_add_below:before {
	content: "\0x1e6";
}
.icon-table_row_remove:before {
	content: "\0x1e7";
}
.icon-table_merge_cells:before {
	content: "\0x1e8";
}
.icon-npm:before {
	content: "\0x1e9";
}
.icon-flag_fill:before {
	content: "\0x1ea";
}
