.nav {
  box-shadow: var(--color-neutral-30) 1px 0px 0px inset;
  position: sticky;
  top: calc(4.375rem + 3rem);
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  z-index: 1;
}

.nav-subpage {
  top: calc(4.375rem + 7rem);
}

.link {
  display: block;
  color: var(--color-neutral-70);
  position: relative;
  transition:
    color var(--duration-medium),
    padding-left var(--duration-medium);

  &:hover,
  &:focus {
    color: var(--color-neutral-90);
  }

  &::before {
    content: ' ';
    width: 2px;
    height: calc(100% - 1px);
    position: absolute;
    left: 0;
    background-color: transparent;
    transition: background-color var(--duration-medium);
  }

  &[aria-current='page'] {
    color: var(--color-neutral-90);
    font-weight: var(--font-weight-bold);
    border-bottom-color: var(--color-border-brand-primary);

    &::before {
      background-color: var(--color-background-brand-primary);
    }
  }
}
