.nav {
  position: sticky;
  top: 100px;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  z-index: 1;
}

.link {
  display: block;
  color: var(--color-neutral-70);
  position: relative;
  transition:
    color var(--duration-medium) ease-in-out,
    padding-left var(--duration-medium) ease-in-out;

  &:hover,
  &:focus {
    color: var(--color-neutral-90);
  }

  &::before {
    content: ' ';
    width: 2px;
    height: calc(100% - 1px);
    position: absolute;
    left: 0;
    background-color: transparent;
    transition: background-color var(--duration-medium) ease-in-out;
  }

  &[aria-current='page'] {
    color: var(--color-neutral-90);
    font-weight: var(--font-weight-medium);
    border-bottom-color: var(--color-border-brand-primary);

    &::before {
      background-color: var(--color-background-brand-primary);
    }
  }
}
