.header {
  height: 70px;
  box-shadow: var(--nine-color-neutral-30) 0px -1px 0px inset;
  background-color: var(--nine-color-neutral-10);
  position: sticky;
  top: 0;
  z-index: 2;
}

.link {
  height: 100%;
  display: flex;
  align-items: center;

  color: var(--nine-color-neutral-60);
  border-bottom: 2px solid;
  border-bottom-color: transparent;
  transition:
    border-bottom-color var(--nine-duration-medium),
    color var(--nine-duration-medium);

  &:hover,
  &:focus {
    color: var(--nine-color-neutral-90);
  }

  &[aria-current='page'] {
    color: var(--nine-color-neutral-90);
    border-bottom-color: var(--nine-color-brand-40);
  }
}
